body{
    color:white;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: indianred;
    padding-left: 10px;
}
button{
    border: none;
    margin:5px;
    height: 36px;
    width: 105px;
    border-radius: 5px;
    font-weight: bold;
    cursor:pointer;
}
.header{
    font-size:2em;
    font-weight: bold;
}
#funnyButton{
    background-color:crimson;
    color:white;
}
#clicked{
    background-color:gray;
    color:black;
}