body{
    color:white;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: indianred;
    padding-left: 10px;
}
button{
    border: none;
    margin-left:5px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    font-weight: bold;
    cursor:pointer;
}
.header{
    font-size:2em;
    font-weight: bold;
    color:white;
    text-decoration: none;
}
.rightside{
    float:right;
}
#loginBtn{
    background-color:antiquewhite;
    color:black;
}
#signupBtn{
    background-color:cornflowerblue;
    color:white;
}
#funnyBtn{
    background-color:crimson;
    color:white;
}
#clicked{
    background-color:gray;
    color:black;
}